{% import 'macros/form.html' as form %}
{% resource 'basiccharts/form' %}

{% macro filtersInputs(name, selectName, inputName, label='', options='', error='', filters={}, classes=[], attrs={}, is_required=false) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-select') %}

  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <div class="formFilters">
    {% for value in filters['values'] %}
      {% set field = filters['fields'][loop.index0] %}
      {{ selectAndInput(selectName, inputName, selectOptions=options, selected=field, inputValue=value, attrs=attrs) }}
    {% endfor %}
    </div>
    <a href="#" class="formFilters-addFilter">{{ _('Add Filter') }}</a>
  {% endcall %}
{% endmacro %}

{% macro selectAndInput(selectName, inputName, selectOptions='', selected='', inputValue='', attrs={}) %}
  <div>
  <select id="{{ selectName }}" name="{{ selectName }}" {{ form.attributes(attrs) }}>
    {% for option in selectOptions %}
      <option value="{{ option.value }}"{% if option.value == selected %} selected{% endif %}>{{ option.text or option.value }}</option>
    {% endfor %}
  </select>
  <input type="text" name="{{ inputName }}" value="{{ inputValue }}" />
  <span title="{{ _('Remove Filter') }}" class="formFilters-removeFilter icon icon-remove"></span>
  </div>
{% endmacro %}

{% set templateFilterInputs = selectAndInput('filter_fields', 'filter_values', selectOptions=fields) %}
{% set filters = { 'fields': resource_view['filter_fields'], 'values': resource_view['filter_values'] } %}

<div
  data-module = "basiccharts_filters_form"
  data-module-template-filter-inputs = "{{ h.remove_linebreaks(templateFilterInputs) }}"
  >
</div>

{{
    filtersInputs('filters', 'filter_fields', 'filter_values',
        label=_('Filters'), options=fields, filters=filters, classes=["control-filters"])
}}

{{
    form.select('series', label=_('Series'), options=fields,
        selected=resource_view['series'], is_required=true)
}}

{{
    form.select('y_axis', label=_('Y Axis'), options=fields,
        selected=resource_view['y_axis'], is_required=true)
}}

{% block form %}
{% endblock %}
