{% set ckan_29_or_higher = h.basicchart_ckan_version(h.ckan_version()) >= h.basicchart_ckan_version('2.9') %}
{% set type = 'asset' if ckan_29_or_higher else 'resource' %}
{% snippet 'snippets/basicchart_' ~ type ~ '.html' %}

<div
  data-module = "basiccharts_view"
  data-module-chart-type = "{{ chart_type }}"
  data-module-resource-id = "{{ resource.id }}"
  data-module-resource-view = "{{ h.dump_json(resource_view) }}"
  id = "basicChart-{{ resource_view.id }}"
  class = "basicChart {{ chart_type }}"
  >
</div>
