{# asset if ckan_version >= 2.9, otherwise resource #}
{% set type = 'asset' if h.ckan_version().split('.')|map('int')|list >= [2, 9, 0] else 'resource' %}

{% include 'snippets/basiccharts_' ~ type ~ '.html' %}

<div
  data-module = "basiccharts_view"
  data-module-chart-type = "{{ chart_type }}"
  data-module-resource-id = "{{ resource.id }}"
  data-module-resource-view = "{{ h.dump_json(resource_view) }}"
  id = "basicChart-{{ resource_view.id }}"
  class = "basicChart {{ chart_type }}"
  >
</div>
