{% resource 'basiccharts/main' %}

{% block scripts %}
<script>
  window.onload = function() {
    var endpoint = "http://localhost:5000/api",
        chartType = "{{ chart_type }}",
        resourceView = {{ h.dump_json(resource_view) | safe }},
        params = overridenDefaultParamsUsingQueryString(resourceView),
        resource = {{ h.dump_json(resource) | safe }};
    resource.endpoint = endpoint;
    params.chart_type = chartType;
    params.filters = setupFilters(params);

    function sortData(data) {
      var result = data,
          seriesOrder = params.filters[params.series],
          xAxisOrder = params.filters[params.x_axis];

      // Order legends
      if (seriesOrder) {
        result.sort(function (a, b) {
          return seriesOrder.indexOf(a.label) - seriesOrder.indexOf(b.label);
        });
      }

      // Order x axis, if it exists
      if (params.x_axis && axisOrder) {
        $.each(result, function (i, element) {
          element.data.sort(function (a, b) {
            return axisOrder.indexOf(a[0]) - axisOrder.indexOf(b[0]);
          });
        });
      }

      return result;
    }

    // FIXME: We'll have problems with multiple elements on the same page.
    // Right now, they'll have the same ID.
    ckan.views.basiccharts.init("#graph", resource, params, sortData);
  }

// TODO: Remove this when we finish doing the form for multiple filters
function setupFilters(params) {
  var filters = {
    region: ["Bagh", "Punjaab", "Pakistan"]
  };

  if (params.filter_field && params.filter_value) {
    filters[params.filter_field] = filters[params.filter_field] || [];
    filters[params.filter_field].unshift(params.filter_value);
  }

  return filters;
}

function overridenDefaultParamsUsingQueryString(defaultParams) {
  var routeParams = window.location.search.queryStringToJSON(),
      params = $.extend({}, defaultParams, routeParams);

  return params;
}
</script>
{% endblock %}

<div style="height: 500px;" id="graph"></div>
