{% resource 'basiccharts/main' %}

{% block scripts %}
<script>
  (function() {
    var endpoint = "http://localhost:5000/api",
        resourceView = {{ h.dump_json(resource_view) | safe }},
        resource = {{ h.dump_json(resource) | safe }};
    resource.endpoint = endpoint;

    var parsers = {
      integer: parseInt,
      numeric: parseFloat,
      text: function (x) {
        return x;
      },
      timestamp: function (x) {
        return new Date(x).getTime();
      }
    }

    window.onload = function() {
      // FIXME: We'll have problems with multiple elements on the same page.
      // Right now, they'll have the same ID.
      initPlot("#graph");
    }

    function initPlot(elementId) {
      $.when(
        recline.Backend.Ckan.fetch(resource),
        recline.Backend.Ckan.query({}, resource)
      ).done(function(fetch, query) {
        var fields = groupByFieldType(fetch.fields),
            data = prepareDataForPlot(fields, query.hits),
            config = plotConfig(fields);
        $.plot(elementId, data, config);
      });
    }

    function groupByFieldType(fields) {
      var result = {};
      $.each(fields, function (i, field) {
        result[field.id] = field.type;
      });
      return result;
    }

    function prepareDataForPlot(fields, records) {
      var grouppedData = convertAndGroupDataBySeries(fields, records),
          data = $.map(grouppedData, function(data, label) {
        return {
          label: label,
          data: data
        }
      });

      return data;
    }

    function plotConfig(fields) {
      var config = {},
          xAxisType = fields[resourceView.xAxis],
          yAxisType = fields[resourceView.yAxis];

      if (xAxisType === "timestamp") {
        config.xaxis = { mode: "time" }
      }
      if (yAxisType === "timestamp") {
        config.yaxis = { mode: "time" }
      }
      return config;
    }

    function convertAndGroupDataBySeries(fields, records) {
      var result = {};
      $.each(records, function(i, record) {
        var x = parsers[fields[resourceView.xAxis]](record[resourceView.xAxis]),
            y = parsers[fields[resourceView.yAxis]](record[resourceView.yAxis]),
            series = record[resourceView.series];

        result[series] = result[series] || []
        result[series].push([x, y])
      });
      return result;
    }
  })();
</script>
{% endblock %}

<div style="height: 500px;" id="graph"></div>
