{% import 'macros/form.html' as form %}

{{
    form.select('chart_type', label=_('Type'), options=chart_types,
        selected=resource_view['chart_type'], is_required=true)
}}

{{
    form.select('series', label=_('Series'), options=fields,
        selected=resource_view['series'], is_required=true)
}}

{{
    form.select('xAxis', label=_('X Axis'), options=fields,
        selected=resource_view['xAxis'], is_required=true)
}}
{{
    form.select('yAxis', label=_('Y Axis'), options=fields,
        selected=resource_view['yAxis'], is_required=true)
}}

{{
    form.select('filter_field', label=_('Filter'), options=fields,
        selected=resource_view['filter_field'])
}}
{{
    form.input('filter_value', label=_('Filter Value'),
        value=resource_view['filter_value'])
}}
