.basicChart {
  height: 500px;
}

.basicChart .error {
  display: none;
}

.dashboard-grid .basicChart {
  height: 90%;
  width: 90%;
}

.basicChart .pieLabel div {
  font-size: inherit !important;
  color: inherit !important;
}
