.basicChart {
  height: 500px;
}

.basicChart .error {
  display: none;
}

.dashboard-grid .basicChart {
  height: 100%;
  width: 95%;
}

.dashboard-grid .basicChart.pie {
  width: 90%;
  margin: auto;
}

.basicChart .pieLabel div {
  font-size: inherit !important;
  color: inherit !important;
}

.pages-embed .basicChart {
  height: 100%;
  width: 100%;
}

